@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.logo {
  height: 2.5em;
  padding: $spacing-2;
  max-width: 100%;
  @include transition-base(filter);

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &--preact:hover {
    filter: drop-shadow(0 0 2em #673ab8aa);
  }

  @include respond-to('md') {
    height: 3em;
    padding: $spacing-3;
  }

  @include respond-to('lg') {
    height: 3.5em;
    padding: $spacing-4;
  }
}
