@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.logo {
  height: 3em;
  padding: $spacing-3;
  @include transition-base(filter);

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &--preact:hover {
    filter: drop-shadow(0 0 2em #673ab8aa);
  }
}
