@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.container {
  width: 100%;
  padding-left: $spacing-4;
  padding-right: $spacing-4;

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }

  &--sm {
    max-width: 640px;
  }

  &--md {
    max-width: 768px;
  }

  &--lg {
    max-width: $max-width-container; // 1024px
  }

  &--xl {
    max-width: 1280px;
  }

  &--full {
    max-width: 100%;
  }

  @include respond-to-max('md') {
    padding-left: $spacing-3;
    padding-right: $spacing-3;
  }
}
